[submodule "proto/fleetspeak"]
	path = vendor/fleetspeak
	url = https://github.com/google/fleetspeak
[submodule "proto/vendor/protobuf"]
	path = vendor/protobuf
	url = https://github.com/protocolbuffers/protobuf
